In [5]:
from google.colab import drive #importa o "conecta" con mi unidad de Drive
drive.mount('/content/drive')

import pandas as pd
emp = pd.read_csv("/content/drive/MyDrive/dataAnalysis/Employee.csv")

#emp.head()
  #Imprime las primeras 5 filas del contenido csv
emp

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

                       name       department           position       salary
0        JEDIDIAH, PALLAS O          FINANCE   PYTHON DEVELOPER  $108,156.28
1     FLORETTE, JODLOWSKI R        MARKETING           DIRECTOR   $85,000.00
2          KIZZIE, PAULUS D      PROCUREMENT           DIRECTOR   $85,000.00
3         ENNIS, MACQUIST N            SALES       DATA ANALYST   $76,715.61
4          VAIL, HONATSCH R           DESIGN          DEVELOPER  $117,247.37
...                     ...              ...                ...          ...
1005         JAMES, BOLAM M        MARKETING      SALES ANALYST   $61,805.46
1006     CARLYNN, EDDOLLS A         ACCOUNTS    SENIOR DIRECTOR  $106,673.90
1007      ROZELLE, FOSTON S  HUMAN RESOURCES     JUNIOR MANAGER  $119,079.36
1008         ALARD, EKINS J        MARKETING  SENIOR CONSULTANT   $95,338.97
1009         ALOIN, READE C      PROCUREMENT  SENIOR CONSULTANT   $79,558.65

[1010 rows x 4 columns]

In [3]:
emp.info()
#Imprime el rango de índices y columnas (dimensiones)
#Tipos de datos de cada columna con su conteo final
#Uso de memoria

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        1010 non-null   object
 1   department  1010 non-null   object
 2   position    1010 non-null   object
 3   salary      1010 non-null   object
dtypes: object(4)
memory usage: 31.7+ KB

In [4]:
emp.nunique()
#Imprime el conteo de elementos únicos contenidos

name          1010
department      11
position        26
salary         947
dtype: int64

In [7]:
emp[["department", "position"]] = emp[["department", "position"]].astype("category")
#Cambia el tipo de dato de las columnas "department" y "position" a category para eficiencia
emp

                       name       department           position       salary
0        JEDIDIAH, PALLAS O          FINANCE   PYTHON DEVELOPER  $108,156.28
1     FLORETTE, JODLOWSKI R        MARKETING           DIRECTOR   $85,000.00
2          KIZZIE, PAULUS D      PROCUREMENT           DIRECTOR   $85,000.00
3         ENNIS, MACQUIST N            SALES       DATA ANALYST   $76,715.61
4          VAIL, HONATSCH R           DESIGN          DEVELOPER  $117,247.37
...                     ...              ...                ...          ...
1005         JAMES, BOLAM M        MARKETING      SALES ANALYST   $61,805.46
1006     CARLYNN, EDDOLLS A         ACCOUNTS    SENIOR DIRECTOR  $106,673.90
1007      ROZELLE, FOSTON S  HUMAN RESOURCES     JUNIOR MANAGER  $119,079.36
1008         ALARD, EKINS J        MARKETING  SENIOR CONSULTANT   $95,338.97
1009         ALOIN, READE C      PROCUREMENT  SENIOR CONSULTANT   $79,558.65

[1010 rows x 4 columns]

In [8]:
emp.info()
#Vuelve a imprimir la información del csv, ahora se ve el cambio del tipo de dato en "department" y "position"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        1010 non-null   object
 1   department  1010 non-null   category
 2   position    1010 non-null   category
 3   salary      1010 non-null   object
dtypes: category(2), object(2)
memory usage: 19.5+ KB

In [10]:
"happy".upper()
  #Escribe en mayúscula el contenido declarado
#"PYTHON".lower()
  #Escribe en minúscula el contenido declarado

'HAPPY'

In [16]:
#emp["name"]
  #Imprime el contenido de "name"
emp["name"].str.lower()
  #Imprime el contenido de "name" en minúscula
emp["name"].str.title()
  #Imprime el contenido de "name" con las primeras letras en mayúscula

0          Jedidiah, Pallas O
1       Florette, Jodlowski R
2            Kizzie, Paulus D
3           Ennis, Macquist N
4            Vail, Honatsch R
                ...
1005           James, Bolam M
1006       Carlynn, Eddolls A
1007        Rozelle, Foston S
1008           Alard, Ekins J
1009           Aloin, Reade C
Name: name, Length: 1010, dtype: object